html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #000;
}

footer {
    position: absolute;

    width: 100%;
  }
  

.navlink {
    font-weight: 700;
    font-size: 1.375rem;
    color: #fff;
    background-color: #633289;

}

.navlink:hover {

    box-shadow: 0 0 30px rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff;

}

.txt-nav {
    font-family: 'Maven Pro', sans-serif;
    font-family: 'rubik', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 3rem;
    padding-right: 3rem;
}

.text-nav:hover {
    color: #fff;
    box-shadow: 0 0 30px rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff;
}

.resplandor {
    text-shadow: 0 0 10px #fff;

}

.resplandor-2 {
    box-shadow: 0 0 10px #633289;
}

/*/estilo SVG/*/


.recorrido:hover {
    cursor: pointer;
    filter: brightness(200);
    text-shadow: 0 0 20px #fff;
}

img:hover {
    cursor: pointer;
    filter:brightness(0.7);
    text-shadow: 0 0 20px #fff;
}

/*/estilo SVG/*/

.size-titulo {
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (min-width: 451px) {
    #img-recorrido-1 {
        display: none;
    }
}

@media (max-width: 450px) {
    #img-recorrido-2 {
        display: none;
    }
}

.link-light {
    color: #fff !important;
}

.icono-tab {
    width: 15%;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.txt-tab {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
}


.img-tab {
    width: 25%;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.tit-tab {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;

}

@media (max-width: 450px) {
    .tit-tab {
        padding: 20px;
    }
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg); 
}

.txttitulo2 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.7rem;
    letter-spacing: 0.2rem;
    color: #fff;
    text-align: center;
    padding: 20px;
    
}

.linea1 {

    border: 3px solid #ffe22b;
    background-color: #ffe22b;
    width: 178.4209px;
    box-shadow: 0 0 30px #ffe22b;
}

.linea2 {

    border: 3px solid #00964b;
    background-color: #00964b;
    width: 178.4209px;
    box-shadow: 0 0 30px #00964b;
}

.linea3 {

    border: 3px solid #ffe22b;
    background-color: #ffe22b;
    width: 178.4209px;
    box-shadow: 0 0 30px #00964b;
}

@media (max-width: 450px) {
    .linea1 {
        width: 124.8946px;
    }
}

@media (max-width: 450px) {
    .linea2 {
        width: 124.8946px;
    }
}

@media (max-width: 450px) {
    .linea3 {
        width: 124.8946px;
    }
}

.boton-trivia {
    position: fixed;
    top: 74%;
    right: 7.5%;
    width: 140px;
    height: 140px;
    background-image: url(../img/boton.png);
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}

.boton-trivia:hover {
    cursor: pointer;
    position: fixed;
    top: 71%;
    right: 6%;
    width: 185px;
    height: 185px;
    background-image: url(../img/botonhover.png);
    background-size: cover;
    background-position: center;
    border: none;
    
}

video:hover {
    cursor: pointer;
    filter:brightness(0.7);
    text-shadow: 0 0 20px #fff;
}

svg:hover {
    cursor: pointer;
    filter:brightness(200);
    text-shadow: 0 0 30px #fff;
}

.txt-footer {
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    text-align: left;

}

@media (max-width: 450px) {
    .txt-footer {
        text-align: center;
    }
}

.rrss {
    text-align: right!important;
}

@media (max-width: 450px) {
    .rrss {
        text-align: center!important;
    }
}

.orden {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}